.grid-container {
  display: grid;
  gap: 25px;
  grid-template-columns: auto auto auto;
  margin-top: 10px;
  overflow: visible;
  padding: 0 1em;
}

.grid-item {
  text-align: center;
  border: 2px solid grey;
  border-radius: .1rem;
  display: block;
  margin: 0;
  padding: .8rem;
  transition: border .25s,box-shadow .25s;
}

.grid-item:hover {
  box-shadow: 4px 4px 2px grey;

}

/**
body p{

  text-align: justify;
  text-justify: inter-word;
}
**/

.md-typeset .grid.cards > ol > li, .md-typeset .grid.cards > ul > li, .md-typeset .grid > .card {
  background-color: #f2f2f2;
}
